<h2>Bienvenue sur Knowledge Learning !</h2>

<p>Pour activer votre compte, cliquez sur le lien ci-dessous :</p>

<p>
    <a href="{{ signedUrl }}">Activer mon compte</a>
</p>

<p>Ce lien expirera bientôt.</p>

<p>
    Cheers!
</p>
